
*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --color1:#A59D84;
    --color2:#C1BAA1;
    --color3:#D7D3BF;
    --color4:#ECEBDE;
}

body {
    background: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



#feuille {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0);
}

#feuille #gauche {
    position: relative;
    background: var(--color4);
    padding: 40px;
}

#feuille #droit {
    position: relative;
    background: var(--color3);
    padding: 40px;
}

#image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vh;
    height: 20vh;
    clip-path: circle(50%);
    width: 200px;
    height: 200px;
}


#presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#presentation h2 {
    color: #000000;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;

}

#competence li {
    margin-bottom: 15px;
    text-align: justify;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
}


#competence h2 {
    text-align: justify;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    color: #000000; 
}

#Titre {
    color: #000000;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    border: #000000 solid 2px;
}

#droit h2 {
    color: var(--color4);
    text-align: center;
    vertical-align: auto;
    margin-bottom: 20px;
    text-decoration: solid;
    text-decoration-color: #000000;
    text-decoration-line: underline;
}

#société {
    color: var(--color4)
}

.Groupe {
    
    background-color: var(--color1);
    padding: 30px;
    margin: 20px;
    border: var(--color2) solid 2px;
    border-radius: 40px;
    box-shadow: rgb(0, 0, 0) 2px 2px 5px 0px;
}

#Projet p {
    margin-bottom: 20px;
    color: #ffffff;
}


#Langue li {
    margin-bottom: 15px;
    text-align: justify;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
}


#Langue h2 {
    text-align: justify;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    color: #000000; 
}

#info li {
    margin-bottom: 15px;
    text-align: justify;
    text-align: center;
    color: #000000;
    display: flex;
    flex-direction: column;
}


#info h2 {
    text-align: justify;
    text-align: center;
    margin-top:30px;
    margin-bottom: 30px;
    color: #000000; 
}

#icon {
    text-align: justify;
    text-align: center;
    margin-top: 20px;
    
}